:root {
  --border-color: #e3e4e6;
}

.sidebar .sidebarContent > li > ul{
  margin-left: .3rem;
  margin-right: .3rem;
}

.sidebar .sidebarContent > li > ul > li > ul .sidebarItemContainer,
.sidebar .sidebarContent > li > ul > li > .sidebarItem{
  padding-left: unset;
  padding-right: unset;
}

.sidebar .sidebarContent > li > ul > li > ul {
  margin-left: 1.9rem;
  margin-right: 1.9rem;

}

.sidebar .sidebarContent > li > ul > li > ul > li{
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}



.sidebar .sidebarContent > li > ul > li > ul > li > ul{
  margin-left: .7rem;
  margin-right: .7rem;
  padding-left: unset;
  padding-right: unset;
}

.sidebar .sidebarContent > li > ul > li > ul > li > ul > li{
  padding-left: 0.6rem !important;
  padding-right: 0.6rem !important;
}

.sidebar .sidebarContent > li > ul li:last-child > ul{
  border-bottom: unset;
}

.sidebar span{
  color: #3f3f40;
}

.itemContainer {}

.animation {
  left: -0.5rem;
  top: 0;
}

.allDepartments span{
  margin-right: 10px;
}

.sidebarContainer {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-right: 1px solid var(--border-color);
  padding-right: 17px;
  margin-right: 1rem;
  height: 100%;
}
/* .sidebarContainer span {
  margin-right: 10px;
} */

.mobile {
  border-right: none;
}

@media only screen and (max-width: 40rem) {
  body.sidebarOpen {
    overflow-y: hidden;
  }

  .animation {
    top: 0;
  }

  .sidebarContainer {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-right: 0.5rem;
    margin-right: 0;
  }
}

.firstLevelLink {
}

.departmentLink,
.firstLevelLink,
.secondLevelLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.secondLevelLink {
  width: 12rem;
}

.departmentLink:hover,
.firstLevelLink:hover,
.secondLevelLink:hover {
  white-space: unset;
  overflow: visible;
  overflow-wrap: break-word;
  word-break: break-word;
}

.sidebarOpen {
}

.sidebarScrim {
  left: 0
}

@media (min-width: 40em) {
  .animation {
    width: 40%;
  }
}

@media (min-width: 64em) {
  .animation {
    width: 30%;
  }
}

.sidebarHeader {
  background-color: #2f56a5;
}

.sidebarContent {
}
/* .sidebarContent > li {
  border-bottom: 1px solid #cacbcc;
} */
.sidebarItem {
  border-bottom: solid 1px lightgray;
}

.menuContainer {
}

.sidebarItemContainer {
  height: 2.6rem;
}
.sidebarItemContainer:hover {
  background-color: #e4e4e4;
}
.sidebarItemContainer svg {
  height: 11px;
  width: 11px;
  color: #3f3f40;
}
/* .sidebarItemContainer:hover .sidebarLink {
  padding-left: 10px;
} */
.iconClose {
  margin-left: auto;
  color: #fff;
}

.sidebarLink {
  text-decoration: none;
  color: #3f3f40;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #2f56a5;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

li.itemContainer div.itemContainer {
  margin-top: -0.3125rem;
  padding-top: 0.3125rem;
}

div.itemContainer {
  display: none;
}

li.itemContainer:hover div.itemContainer {
  display: flex;
}

.flyoutMenuContentLoader{
  max-width: 186px;
  max-height: 64px;
}

.flyoutMenuContentLoaderMobile{
  max-width: 50px;
  max-height: 64px;
}
