.specificationModal :global(.ReactVirtualized__Grid__innerScrollContainer){
    width: 100% !important;
    max-width: unset !important;
}
.specificationModal :global(.ReactVirtualized__Grid__innerScrollContainer) div:nth-child(odd) {
    width: 40% !important;
    min-width: 175px !important;
}

.specificationModal :global(.ReactVirtualized__Grid__innerScrollContainer) div:nth-child(even)  {
    left: 40% !important;
    width: 60% !important;
    min-width: 300px;;
}
