.mediaLinkContainer{
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  padding-top: 1.5rem;
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.modalContiner{
  min-width: 550px;
}

@media screen and (max-width: 60em) and (min-width: 30em){
  .mediaLinkContainer{
    padding-left: var(--spacing-extra-large);
    padding-right: var(--spacing-extra-large);
  }
}