[data-extension-point="store.home/carousel#banners"] .container {
  margin: 0 0 10px 0;
}

[data-extension-point="store.home/carousel#banners"] .containerImg {
  padding: 0 10px 0 10px
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}