.items-center {
  background-color: transparent;
}


.gallery {
  padding-left: 0;
}

.filter__container {
  width:250px;
}

.filterPopupButton{
  width:100%;
  border-style: solid;
  border-width: 1.25px;
  border-color: rgba(0,0,0,.3);
}

.filterPopupArrowIcon,
.filterPopupTitle {
  margin-left: unset;
}

.filterTitle {
  font-weight: 500;
  text-transform: uppercase;
  color:white;
  background-color: black;
  padding:5px;
  letter-spacing: .15rem;
}

.filterTitle,
.filterItem label
 {
  font-size: 0.875rem;
}

.categoryItemName {
  font-size: 1.0rem;
  font-weight: 700;

}

.filterItem label {
  font-size: 0.825rem;
  line-height: 1.50;
}

.filterItem {
  margin-bottom:4px;
}

.categoryItemChildren {font-size: 14px;}

.filters > div > * > div + div::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.filters > div > * > div + div::-webkit-scrollbar-thumb {
    background-color: #357edd;
    border-radius: 4px;
}

.filters > div > * > div + div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.totalProducts--layout {
  text-align: left;
  padding-left: 0.75rem;
}

.orderByOptionsContainer {
  z-index: 3;
}

.filtersWrapper {
  border-right: solid thin #e3e4e6;
}

.filterMessage {
  background-color: #008DD9;
  color: white;
  padding: 5px;
}

.c-link {
  font-weight:bold;
  font-size: .90rem;
}

.filter__container--c .b--muted-4 {
  border: transparent;
}

.scrollBar {
  font-size: 0.75rem;
}

.myBanner{
  height: 100px;
}
