.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

:global(.vtex-store-header-2-x-headerRowContainer--header-row-1-mobile) .container {
  margin-left: unset;
  margin-right: unset;
  width: unset;
}
