:global(.vtex-store-drawer-0-x-drawer)
  .menuItem
  > :nth-child(2)
  > :first-child {
  border-bottom: 1px solid #eee;
}

:global(.vtex-store-drawer-0-x-drawer)
  > :global(.vtex-store-drawer-0-x-childrenContainer)
  > nav {
  width: 100%;
}

:global(.vtex-store-drawer-0-x-drawer)
  > :global(.vtex-store-drawer-0-x-childrenContainer)
  > nav
  > ul.menuContainer
  > li
  > div
  > section.submenuAccordion
  > nav {
  width: 90%;
}

:global(.vtex-store-drawer-0-x-drawer)
  > :global(.vtex-store-drawer-0-x-childrenContainer)
  > nav
  > ul.menuContainer
  > li
  > div
  > section.submenuAccordion
  > nav
  > ul.menuContainer
  > li
  > div
  > section.submenuAccordion
  > nav {
  width: 80%;
}

:global(.vtex-store-drawer-0-x-drawer) > div + div > nav > ul > li {
  text-indent: 15px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
}

:global(.vtex-store-drawer-0-x-drawer)
  > div
  + div
  > nav
  > ul
  > li
  > div:nth-child(2)
  li {
  line-height: 25px;
  border-bottom: 1px solid #eee;
}

.menuItem--subcategoryMenuItem .styledLink,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem
  .styledLink {
  display: grid;
}

.menuItem--subcategoryMenuItem .styledLink div,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem
  .styledLink
  div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.menuItem--subcategoryMenuItem:hover .styledLink div,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem:hover
  .styledLink
  div {
  white-space: unset;
  overflow: visible;
  overflow-wrap: break-word;
  word-break: break-word;
}

.submenu--third-level-sub-menu-container {
  background: rgba(0, 0, 0, 0.4);
}

.submenu--third-level-sub-menu-container
  :global(.vtex-flex-layout-0-x-flexRow) {
  background: white;
  width: 100%;
  max-width: 90rem;
  margin: auto;
}

.submenu--third-level-sub-menu-container
  :global(.vtex-flex-layout-0-x-flexRow)
  > div {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.menuItem--subcategoryMenuItem,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem {
  height: 2.25rem;
  /* border: black solid 0.5px; */
}

.menuItem--departmentMenuItem::after,
.menuItem--categoryMenuItem::after {
  content: "";
  display: block;
  width: 0;
  height: 5px;
  background: #357edd;
  transition: width 0.3s;
}

.menuItem--categoryMenuItem::after {
  height: 4px;
}

.menuItem--departmentMenuItem:hover::after,
.menuItem--categoryMenuItem:hover::after {
  width: 100%;
}

.menuItem--subcategoryMenuItem:hover,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem:hover {
  margin-left: 2px;
  transition: all 0.3s;
}

.menuItem--subcategoryMenuItem:hover div,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem:hover
  div {
  text-decoration: none;
  font-weight: bold;
}

.menuItem--subcategoryMenuItem > div,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem
  > div {
  margin: unset;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 29px;
  padding-top: unset;
  padding-bottom: unset;
}

.menuItem--departmentMenuItem:nth-child(2):first-child {
  padding-top: unset;
  padding-bottom: unset;
  line-height: 40px;
}

.submenu--sub-menu-department {
  max-width: 90rem;
  margin: auto;
  width: 100%;
  /* border: black solid 1px; */
}

.menuItem--departmentMenuItem .styledLinkContainer > div > div {
  padding-top: unset;
  padding-bottom: unset;
}

.menuItem--departmentMenuItem > div > div {
  padding-top: unset;
  padding-bottom: unset;
  margin-top: 4px;
}

.menuItem--categoryMenuItem > div {
  margin-left: 2px;
  margin-right: 2px;
}

.menuItem--categoryMenuItem > div > div {
  margin-top: 5px;
}

.menuContainer--category-menu-block {
  margin-top: 0.3rem;
  line-height: 1.5rem;
}

.menuItem--categoryMenuItem > .styledLinkContainer {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: unset;
}

.menuItem--categoryMenuItem > .styledLinkContainer:hover::after {
  width: 100%;
}

.menuItem--departmentMenuItem {
  margin: auto;
}

.menuItem--departmentMenuItem > .styledLinkContainer {
  padding-top: unset;
  padding-bottom: unset;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 64em) {
  .menuItem--departmentMenuItem > .styledLinkContainer {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
  }

  .menuItem--departmentMenuItem .styledLink {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 70em) {
  .menuItem--departmentMenuItem .styledLink {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 81.25em) {
  .menuItem--departmentMenuItem > .styledLinkContainer {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

.menuItem--departmentMenuItem > .styledLinkContainer:hover::after {
  width: 100%;
}

:global(.vtex-store-header-2-x-headerRowContainer--main-header)
  nav:nth-child(2),
.menuItem--departmentMenuItem,
.menuItem--departmentMenuItem > .styledLinkContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:global(.vtex-store-header-2-x-headerRowContainer--main-header)
  ul.menuContainer {
  height: 100%;
}

.menuItem--subcategoryMenuItem > .styledLinkContainer,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem
  > .styledLinkContainer {
  display: table-cell;
  line-height: 15px;
}

.menuItem--subcategoryMenuItem > .styledLinkContainer > a > div,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem
  > .styledLinkContainer
  > a
  > div {
  display: unset;
}

/* .menuItem--subcategoryMenuItem > .styledLinkContainer>a>div::after{
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background:#3f3f40;
  transition: width .3s;
} */

.menuItem--subcategoryMenuItem > .styledLinkContainer > a > div:hover::after,
:global(.vtex-flex-layout-0-x-flexRowContent--category-menu-flex-row)
  li.menuItem
  > .styledLinkContainer
  > a
  > div:hover::after {
  width: 100%;
}

.menuItem--legacySite {
  display: visible;
  border: 1px solid #008dd9;
  background-color: #008dd9;
}

.submenu--manufacturer-sub-menu-l1,
.submenu--manufacturer-sub-menu-l2,
.submenu--about-us-sub-menu-l2
 {
  justify-content: flex-start;
}

.submenuWrapper--manufacturer-sub-menu-l1--isOpen {
  width: 230px;
  z-index: 1000;
  border: 1px solid #e0e0e0;
  height: 500px;
}

.submenuWrapper--about-us-sub-menu-l2--isOpen {
  width: 230px;
  z-index: 1000;
  border: 1px solid #e0e0e0;
  height: 175px;
}

.submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  width: 290px;
  z-index: 1000;
  border: 1px solid #e0e0e0;
  height: 500px;
}

.styledLinkContent--featuredBrands,
.styledLinkContent--manufacturer-menu-item-all-brands,
.styledLinkContent--manufacturer-menu-item-l1,
.styledLinkContent--manufacturer-menu-item-l2 {
  color: #333;
  text-transform: none;
}

.menuItem--featuredBrands,
.menuItem--manufacturer-menu-item-all-brands,
.menuItem--manufacturer-menu-item-l1,
.menuItem--manufacturer-menu-item-l2 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.menuItem--featuredBrands {
  height: 2.5rem;
}

.styledLinkContent--featuredBrands {
  text-transform: uppercase;
  color: black;
}

.menuItem--manufacturer-menu-item-all-brands:hover,
.menuItem--manufacturer-menu-item-l1:hover,
.menuItem--manufacturer-menu-item-l2:hover {
  transition: all 0.1s;
  border-left: #008dd9 solid 3px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--manufacturer-sub-menu-row-l2) {
  flex-direction: column;
}

:global(.vtex-flex-layout-0-x-flexRowContent--manufacturer-sub-menu-row-l2)
  > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  height: 125px;
  width: 200px !important;
  margin: auto;

  /* height: 127px;
  padding: 1rem; */
  /* border: #efefef 1px solid; */
}

.submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  margin-left: 4px;
  top: -113px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

:global(.vtex-flex-layout-0-x-flexRow--manufacturer-sub-menu-row-l2),
:global(.vtex-flex-layout-0-x-flexRow--manufacturer-sub-menu-row-l1) {
  width: 100%;
  min-height: 300px;
}

:global(.vtex-flex-layout-0-x-flexRow--about-us-sub-menu-row-l1) {
  width: 100%;
  min-height: 150px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--manufacturer-sub-menu-row-l2)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 100% !important;
}

.styledLinkContainer--manufacturer-menu-item-l1,
.styledLinkContainer--manufacturer-menu-item-l2 {
  width: 100%;
}

:global(.vtex-store-image-0-x-imageElement--manufacturer-image) {
  max-width: 200px;
  max-height: 100%;
  margin-top: 0px;
  margin: auto;
  /* height: 90px; */
}

:global(.vtex-store-header-2-x-headerRowContainer--top-menu) .menuContainerNav {
  line-height: 0.5;
}

:global(.vtex-store-header-2-x-headerRowContainer--top-menu)
  .menuItem--top-menu-manufacturers:hover {
  outline: none;
  background: #6d6d6d;
  cursor: default;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(3)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -113px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(4)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -153px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(5)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -193px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(6)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -233px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(7)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -273px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(8)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -313px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(9)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -353px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(10)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -393px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(11)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -433px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(12)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -473px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(13)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -513px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(14)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -553px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(15)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -593px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(16)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -633px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(17)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -673px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(18)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -713px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(19)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -753px;
}

.menuContainer--manufacturer-menu-l1
  li:nth-child(20)
  .submenuWrapper--manufacturer-sub-menu-l2--isOpen {
  top: -793px;
}
/* .menuContainerNav--manufacturer-menu-l2 {
  margin-top: 0px;
} */

.styledLinkContent--viewAll-menu-item-l2 {
  color: blue;
  text-transform: none;
}

.styledLinkContainer--viewAll-menu-item-l2 {
  width: 100%;
}

.menuItem--viewAll-menu-item-l2:hover {
  transition: all 0.1s;
  border-left: #008dd9 solid 3px;
}

.menuItem--viewAll-menu-item-l2 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.styledLinkContent--departmentMenuItem{
  pointer-events: none;
}

.menuItem--featuredBrands,
.styledLinkContainer--featuredBrands,
.styledLink--featuredBrands,
.styledLinkContent--featuredBrands {
  cursor: text;
}
