:root {
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

[data-extension-point="vtex.store@2.x:store.custom#about/rich-text#aboutUsTitle"] {
  max-width: 96rem;
  justify-content: left;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2rem;
}

[data-extension-point="vtex.store@2.x:store.custom#about/rich-text#aboutUsTitle"] p {
  font-weight: bold;
}

[data-extension-point="vtex.store@2.x:store.custom#about/rich-text#aboutUsParagraph"] {
  max-width: 96rem;
  justify-content: left;
  margin-right: auto;
  margin-left: auto;
}

[data-extension-point="store.home/rich-text#dept1"] {
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

[data-extension-point="store.home/rich-text#dept2"] {
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

[data-extension-point="store.home/rich-text#dept3"] {
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
}

.product-documents-media {
  max-width: 90rem;
  margin: auto;
}

.container--product-documents-media{
  padding-left: 3rem;
  font-size: 1.25rem;
}

.container--discountclass {
    color: #727273 !important;
}

.paragraph--discountclass{
  font-size: 1.5rem !important;

}

.paragraph--newrich {
  font-size: 50px !important;
}


.paragraph--product-documents-media {
  font-size: 1.25rem;
}

.container--indexButtonGroup,
.container--indexSpecifications,
.container--indexDocumentsAndMedia,
.container--indexDescription,
.container--indexRelatedProducts {
  display: block;
  content: '';
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

.container--indexSpecifications {
  margin-top: 0;
  height: 0;
}

.container--indexDescription {
  margin-top: -20px;
  height: 20px;
}

.container--indexDocumentsAndMedia {
  margin-top: -60px;
  height: 60px;
}

@media only screen and (min-width: 40em) {
  .container--indexButtonGroup {
    margin-top: -170px;
    height: 170px;
  }

  .container--indexSpecifications {
    margin-top: -95px;
    height: 95px;
  }

  .container--indexDocumentsAndMedia {
    margin-top: -155px;
    height: 155px;
  }

  .container--indexDescription {
    margin-top: -120px;
    height: 120px;
  }

  .container--indexRelatedProducts {
    margin-top: -150px;
    height: 150px;
  }
}

@media only screen and (width: 40em) {
  .container--indexButtonGroup {
    margin-top: -95px;
    height: 95px;
  }

  .container--indexSpecifications {
    margin-top: -32px;
    height: 32px;
  }

  .container--indexDocumentsAndMedia {
    margin-top: -95px;
    height: 95px;
  }

  .container--indexDescription {
    margin-top: -60px;
    height: 60px;
  }

  .container--indexRelatedProducts {
    margin-top: -80px;
    height: 80px;
  }
}

@media only screen and (min-width: 64em) {
  .container--indexButtonGroup,
  .container--indexSpecifications {
    margin-top: -160px;
    height: 160px;
  }

  .container--indexDescription {
    margin-top: -150px;
    height: 150px;
  }
}

.container--product-documents-media {
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
  max-width: 90rem;
  margin-right: auto;
  margin-left: auto;
  color: rgb(71, 71, 171);
  font-weight: bold;
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .container--product-documents-media {
    padding-left: var(--spacing-extra-large);
    padding-right: var(--spacing-extra-large);
  }
}

@media screen and (min-width: 80em) {
  .container--product-documents-media {
    padding-left: var(--spacing-extra-small);
    padding-right: var(--spacing-extra-small);
  }
}

.container--product-documents-media > div {
  width: 100%;
  border-bottom: 1px solid black;
}

.container--creditTitle .paragraph,
.container--paymentTermTitle .paragraph {
  margin-bottom: 0;
}

.container--footer-menu-title .paragraph,
.container--social-network-title .paragraph,
.container--creditTitle .paragraph,
.container--paymentTermTitle .paragraph {
  text-transform: uppercase;
  font-weight: bold;
}

.container--as-certifications {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.container--as-certifications > div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container--as-certifications > div {
  color: white;
}

.container--as-certifications iframe {
  width: 96%;
  height: 50rem;
}

.container--message-bar {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.paragraph--locations-message {
  font-size:1.5rem;
  font-weight:bold;
}

.paragraph--privacy-title {
  font-size: 1.5rem;
  color:black;
  font-weight: bold;
}

.paragraph--privacy-description {
    font-size: 0.95rem;
}

.list--privacy-description {
  line-height: 1.5rem;
  font-size: 0.95rem;
}

.headingLevel5--privacy-description {
  font-weight: bold;
}

.paragraph--terms-title {
  font-size: 1.5rem;
  color:black;
  font-weight: bold;
}

.list--terms-conditions {
  line-height: 1.5em;
    margin-bottom: 3rem;
}

.headingLevel3--about-us-content {
  color: #008DD9;
  font-weight: bold;
  font-size: 1.50rem;
  border-bottom: grey solid 1px;
}

.about-us-content, p {
  font-size:0.95rem;
}

.aboutUs-video, iframe {
  margin-top:50px;
}

.container--conflict-minerals-statement iframe{
  width: 96%;
  height: 71rem;
}

.container--conflict-minerals-statement > div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container--conflict-minerals-statement {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.paragraph--text-message-plp {
  color: black;
  font-size: small;
}

.paragraph--text-message-pdp {
  color: black;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}
