.imageElement--main-image-slider {
  max-height: 500px !important;
  object-fit: cover;
}
.sliderLayoutContainer--brand-image-slider,
.sliderLayoutContainer--banner-image-slider {
  max-width: 90rem;
  margin: auto;
}
.sliderLayoutContainer--main-image-slider {
  max-width: 100%;
}


.slideChildrenContainer--banner-image-slider{
  margin-left: 3px;
  margin-right: 3px;
}

.slideChildrenContainer--brand-image-slider {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.slideChildrenContainer--brand-image-slider:focus, .slideChildrenContainer--brand-image-slider:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.slideChildrenContainer--brand-image-slider:active {
  -webkit-transform: scale(.9);
  transform: scale(.9);
}

@media only screen and (max-width: 425px){
  .sliderTrack--banner-image-slider {
    flex-direction: column;
  }

  .slide--banner-image-slider{
    width: 100% !important;
  }
}
