.column--list-item-row {
}

.column--list-item-container {
}

.column--basic-info-section,
.column--checkout-info-section {
  flex-direction: column;
  padding: 5px;
}

.containerNormal--list-item-container:hover {
  box-shadow: 0 -1px 14px 0 #dbdbdb;
}

.containerNormal--list-item-container {
  min-height: 275px;
  max-width: 100% !important;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-shadow: 0 -1px 5px 0 #dbdbdb;
  font-size: 0.8rem;
}

.containerNormal--product-shelf-mobile-container {
  box-shadow: 0 -1px 5px 0 #dbdbdb;
  font-size: 0.8rem;
}

/* .containerNormal--product-shelf-mobile-container :hover {
  box-shadow: 0 -1px 14px 0 #dbdbdb;
} */

.column--image-section {
  flex-basis: 20%;
  flex-direction: column;
}

.column--basic-info-section {
  flex-basis: 35%;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 5px;
}

.column--checkout-info-section {
  flex-basis: 45%;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
}

.nameContainer--basic-info-productName {
  width: 100%;
  justify-content: left;
  padding-top: 1rem;
  padding-bottom: 0.4rem;
}

.nameContainer--basic-info-productName h1 > span {
  font-size: 1rem;
  font-weight: 600;
}

.nameContainer--basic-info-productName :hover {
  color: blue;
  text-decoration: underline;
}

.container
  :global(.biscoind-bisco-components-0-x-productFieldHighlightsContainer) {
  width: 100%;
}

.container
  :global(.biscoind-bisco-components-0-x-productFieldHighlightsFieldName) {
  width: 100px;
  font-weight: 600;
}

.container :global(.biscoind-bisco-components-0-x-descriptionSimple) {
  width: 100%;
  text-align: left;
}

.column--checkout-info-buttons {
  cursor: default;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 1rem;
  height: 55px;
}

.containerNormal--list-item-container
  :global(.biscoind-bisco-components-0-x-productShippingCalculatorContainer) {
  box-shadow: unset;
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
  border-left: 0.3rem solid;
}

:global(.biscoind-bisco-components-0-x-zipCodeEditBox) {
  top: unset;
}

:global(.biscoind-bisco-components-0-x-quantitySelectorTitle),
:global(.biscoind-quick-quote-0-x-productSummaryQuoteWrapper) button div,
:global(.biscoind-bisco-components-0-x-buyButton) button div,
:global(.biscoind-bisco-components-0-x-zipCodeEditBox) span,
:global(.biscoind-bisco-components-0-x-zipCodeEditBox) input,
:global(.biscoind-bisco-components-0-x-zipCodeEditBox) button div {
  font-size: 0.8rem;
}

.column--product-shelf-mobile-column {
  flex-direction: column;
  padding-inline: 10px;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-descriptionSimple) {
  text-align: center;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-availableInventoryContainer) {
  width: 100%;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-productShippingCalculatorContainer) {
  border-left: unset;
  box-shadow: unset;
  -moz-box-shadow: unset;
  -webkit-box-shadow: unset;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-productShippingCalculatorContainer)
  > div:first-child {
  display: none;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-productShippingCalculatorContainer)
  :last-child {
  text-align: center;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-ProductSummaryShippingCalculatorWrapper) {
  padding-bottom: 5px;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-searchPriceBreaksWrapper) {
  padding-bottom: 5px;
  margin: unset;
}

.buyButtonContainer button {
  width: 80%;
  margin: 0 auto;
}

.imageNormal {
  margin-bottom: 1rem;
}

.containerNormal--product-summary-sr {
  margin: 0 0.25rem;
}

.column--recommendations-price-button {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.column--recommendations-price-button :global(.vtex-button) {
  font-weight: bold;
  font-size: 0.85rem;
  max-width: 150px;
}

.containerNormal--recommendations {
  margin-left: 1rem;
  margin-right: 1rem;
}

.priceContainer--recommendations {
  padding-bottom: 0;
  padding-right: 0.5rem;
}

.column--product-shelf-mobile-column
  :global(.biscoind-quick-quote-0-x-quickQuoteContainer) {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.column--product-shelf-mobile-column
  :global(.biscoind-bisco-components-0-x-ProductSummaryDescriptionOverlayWrapper) {
  margin-bottom: unset;
}
