.zipCodeEditBox {
  visibility: visible;
  max-width: 18rem;
  position: absolute;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 3;
}

.priceTableDataRow .zipCodeEditBox {
  top: unset;
  right: 13px;
}

.priceTableDataRow .displayShipToText{
  display: none;
}

.productPriceTableLeadTimeColumn .displayShipToText{
  display: none;
}

.zipCodeEditBox > div {
  text-align: right;
  margin: 7px 7px 0 0;
}

.zipCodeEditBox > div:first-child span {
  cursor: pointer;
}

.zipCodeInputEditBox > label {
  float: left;
  width: 60%;
  margin: 0 10px 10px 10px;
}

.zipCodeInputEditBox > label > span {
  text-align: left;
}

.zipCodeInputEditBox > button {
  float: left;
  width: 32%;
  margin-top: 22px;
}

.postalCodeLink a {
  color: blue;
  cursor: pointer;
}

@media only screen and (min-width: 320px)  {
  .productPriceTableLeadTimeColumn .zipCodeEditBox {
    top: unset;
    margin-left: -163px;
  }
}

@media only screen and (min-width: 768px)  {
  .productPriceTableLeadTimeColumn .zipCodeEditBox {
    top: unset;
    margin-left: -296px;
  }
}

@media only screen and (min-width: 1024px)  {
  .productPriceTableLeadTimeColumn .zipCodeEditBox {
    top: unset;
    margin-left: -217px;
  }
}

@media only screen and (min-width: 1338px)  {
  .productPriceTableLeadTimeColumn .zipCodeEditBox {
    top: unset;
    margin-left: -190px;
  }
}

